chromadb
sentence-transformers
gitpython
python-dotenv
tree-sitter
tree-sitter-python
groq
rank-bm25
fastapi
uvicorn[standard]
streamlit
requests
# ragas==0.1.21
# langchain-groq
# langchain-huggingface
# datasets